.wrap {
  display: block;
  margin: auto;
}
.wrap {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
  background: #fff;
  box-shadow: 0 -10px 16px rgb(0 0 0 / 9%);
  width: 1080px;
}
