.navbar,
.menu,
.menu_opt {
  display: flex;
  min-height: 55px;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-color: #fff;
}
.menu_opt > p {
  margin: 0 20px;
  text-transform: capitalize;
}

.navbar {
  padding: 0 30px;
  border: 1px solid;
}
.menu > button {
  border: 2px solid #090;
  padding: 0 15px;
  min-width: 130px;
  text-align: center;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 1px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-weight: 400;
  background: #090;
  text-transform: capitalize;
  cursor: pointer;
}
span {
  font-size: 10px;
  display: inline;
}
.menuBar {
  display: none;
}
.visible {
  display: block !important;
}
.mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px 13px;
  color: #333;
  align-items: center;
  margin-top: -24px;
  border-bottom: 1px solid #e5e4e1;
  margin-bottom: 36px;
  height: 60px;
}
.cross {
  cursor: pointer;
}
