.card_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper_div > p {
  max-width: 699px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
.cardImage {
  margin: 90px 120px;
}
.inc {
  margin-top: 70px;
}
.cardImage > img {
  margin-bottom: 30px;
}
.cardImage > p {
  text-align: center;
  font-weight: lighter;
  /* width: 1000px; */
  max-width: 350px;
}
